#form1{
    border: solid red 2px;
    background-color: yellow;
}
#form2{
    border: solid red 2px;
    background-color: yellow;
    padding-bottom: 30px
}
#id1{
    text-decoration: underline;
    font-size: 20px;
    margin-left: 100px;
}
span{
    margin-left: 150px;
}